header{
    background-image: url(../images/photo1.jpg);
    background-position: bottom center;
    height: 100vh;
}


.banner-section{
    min-height: 500px;
    padding-top: 150px;
    text-align: center;
    /* background-image: url(../images/photo1.jpg); */
    background-size: cover;
    background-position: bottom center;
}

.banner-section h1{
    color: #FFFFFF;
    font-size: 64px;
    filter: drop-shadow(2px 2px 2px #111111);
}

#about{
    padding: 50px 0px;
    background-color: #cccccc;
}
.aboutImg{
    width: 65%;
}
#experience{
    padding: 50px 0px;
}
.box{
    height: 100px;
    background-color: none;
    border: 1px solid none;
}
.timeline-section{
    position: relative;
}
.timeline-section::after{
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 50%;
    width: 3px;
    transform: translateX(-50%);
    background-color:#cccccc;

}
.timeline-pointer{
    position: relative;
}
.timeline-pointer::after{
    content: "";
    position: absolute;
    top:0;
    bottom: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid #cccccc;
    background-color: #ffffff;
    transform: translateX(-50%);
    z-index: 1;
}
@media (max-width: 576px) { 
    .timeline-section::after , .timeline-pointer::after{
        display: none;
    }
}

#skill{
    padding: 50px 0px;
    text-align: center;
    background-color: #cccccc;
}

#work{
    padding:50px 0px;
}
#work .workImg{
    position: relative;
}

#work .workImg img{
    transition: all 0.5s;
}

#work  .workImg:hover img{
    filter: grayscale(1);
}
#work .workImg .workIntro{
    display: none;
    position: absolute;
    bottom: -50%;
    width: 100%;
    text-align: center;
    z-index: -10;
    transition: all 0.5s;
}
#work .workImg:hover .workIntro{
    display: block;
    bottom: 45%;
    z-index: 10;
    color: #ffffff;
    font-size: 28px;
    font-weight: bolder;
    transition: all 0.5s;
    text-shadow: 0.1em 0.1em 0.2em #000000;
}
/*#work a.workImg:hover .imgHover{
    display: block;
    height: 100%;
    background: #000;
}*/

#contact{
    padding: 50px 0px;
    background-color:#cccccc;
}

.copyright {
    padding:50px 0px;
    text-align: center;
    color: #fff;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}

.active{
    border-bottom: 3px solid #ffffff;
}



